<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css?family=Quantico");

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


* {
	padding: none;
}

html{
	background: linear-gradient(#000428, #004E92);
	height: 3175px;
}

body{
	background: linear-gradient(#C6D4FF, #00498b);
	width: 1280px;
	height: 2770px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 230px;
	border-radius: 50px;
}

header{
	background-color: #BCE7E0;
	margin-top: 45px;
	margin-left: 45px;
	margin-right: auto;
	width: 1180px;
	height: 300px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

header img{
	display: block;
	margin-top: 45px;
	margin-left: 45px;
	border: 5px solid #A43E2F;
	border-radius: 50px;
	width: 200px;
	height: 200px;
	position: absolute;
}

header h1{
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 80px;
	color: #FFFFFF;
	text-shadow: -5px -5px 0px #004E92,
         0px -5px 0px #004E92,
         5px -5px 0px #004E92,
        -5px  0px 0px #004E92,
         5px  0px 0px #004E92,
        -5px  5px 0px #004E92,
         0px  5px 0px #004E92,
         5px  5px 0px #004E92;
	margin-top: 45px;
	margin-left: 350px;
	margin-bottom: auto;
	position: absolute;
}

header p{
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: -4px -4px 0px #004E92,
         0px -4px 0px #004E92,
         4px -4px 0px #004E92,
        -4px  0px 0px #004E92,
         4px  0px 0px #004E92,
        -4px  4px 0px #004E92,
         0px  4px 0px #004E92,
         4px  4px 0px #004E92;
    margin-top: 150px;
	margin-left: 350px;
	position: absolute;
}

main{
	position: absolute;
	margin-top: 400px;
	width: 1090px;
	height: 1870px;
}

ul li{
	font-family: 'Quantico', sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: -3px -3px 0px #004E92,
         0px -3px 0px #004E92,
         3px -3px 0px #004E92,
        -3px  0px 0px #004E92,
         3px  0px 0px #004E92,
        -3px  3px 0px #004E92,
         0px  3px 0px #004E92,
         3px  3px 0px #004E92;
}

ul{
  	list-style-image: url(images/list_icon.svg);
}

section h2, aside h2{
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: -4px -4px 0px #004E92,
         0px -4px 0px #004E92,
         4px -4px 0px #004E92,
        -4px  0px 0px #004E92,
         4px  0px 0px #004E92,
        -4px  4px 0px #004E92,
         0px  4px 0px #004E92,
         4px  4px 0px #004E92;
	position: absolute;
}

main section.achievements{
	background-color: #BCE7E0;
	margin-left: 45px;
	margin-right: auto;
	width: 710px;
	height: 710px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
	float: left;
}

section.achievements h2{
	margin-top: 0px;
	margin-left: 150px;
}

section.achievements ul{
	width: 660px;
	height: 540px;
	margin-top: 120px;
	margin-left: 20px;
}

section.achievements ul li{
	width: 580px;
	margin-bottom: 40px;
}

main aside{
	background-color: #BCE7E0;
	margin-left: 815px;
	margin-right: auto;
	width: 400px;
	height: 710px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
	float: right;
}

aside h2{
	margin-top: 0px;
	margin-left: 125px;
}

aside ul{
	width: 660px;
	height: 540px;
	margin-top: 120px;
	margin-left: 20px;
}

aside ul li{
	width: 580px;
	margin-bottom: 60px;
}

li.custom_color{
	font-weight: bold;
	color: #B21807;
	text-shadow: none;
}

main section.completed_quests{
	background-color: #BCE7E0;
	margin-top: 765px;
	margin-left: 45px;
	margin-right: auto;
	width: 1170px;
	height: 1100px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

section.completed_quests h2{
	margin-top: 0px;
	margin-left: 325px;
}

section.completed_quests ul{
	width: 460px;
	height: 560px;
	margin-top: 120px;
	margin-left: 20px;
}

section.completed_quests ul li{
	width: 460px;
	margin-bottom: 40px;
}

section.completed_quests code{
	margin-left: 530px;
	margin-top: -570px;
	width: 600px;
	height: 920px;
	background-color: #FFFFFF;
	border: 5px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

section.completed_quests code pre{
	margin-left: 50px;
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 15px;
	color: #004E92;
	position: absolute;
}

section.completed_quests img{
	margin-top: 50px;
	margin-left: 70px;
	max-width: 150%;
	position: absolute;
	display: flex;
}

section.tip_of_the_day{
	background-color: #BCE7E0;
	margin-top: 1915px;
	margin-left: 45px;
	margin-right: auto;
	width: 1170px;
	height: 240px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

section.tip_of_the_day h2{
	margin-top: 0px;
	margin-left: 325px;
}

section.tip_of_the_day q{
	margin-top: 120px;
	margin-left: 50px;
	font-family: 'Quantico', sans-serif;
	font-size: 40px;
	color: #A43E2F;
	position: absolute;
}

section.tip_of_the_day p{
	margin-top: 120px;
	margin-left: 700px;
	font-family: 'Quantico', sans-serif;
	font-size: 40px;
	color: #00498A;
	position: absolute;
}

footer{
	margin-left: 0px;
	margin-top: 2600px;
	position: absolute;
}

footer pre{
	white-space: pre;
	margin-left: 320px;
	margin-top: 0px;
	width: 1000px;
	color: #FFFFFF;
	font-size: 20px;
	display: flex;
	flex-direction: right;
}


section.contacts{
	background-color: #BCE7E0;
	margin-top: 0px;
	margin-left: 770px;
	width: 440px;
	height: 140px;
	border: 5px solid #A43E2F;
	border-radius: 50px;
	position: absolute;
	display: none;
}

section.contacts a{
	font-family: 'Quantico', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	text-shadow: -3px -3px 0px #A43E2F,
         0px -3px 0px #A43E2F,
         3px -3px 0px #A43E2F,
        -3px  0px 0px #A43E2F,
         3px  0px 0px #A43E2F,
        -3px  3px 0px #A43E2F,
         0px  3px 0px #A43E2F,
         3px  3px 0px #A43E2F;
    margin-left: 25px;
}


footer img{
	width: 300px;
	display: flex;
	flex-direction: left;
=======
@import url("https://fonts.googleapis.com/css?family=Quantico");

* {
	padding: none;
}

html{
	background: linear-gradient(#000428, #004E92);
	height: 3050px;
}

body{
	background: linear-gradient(#C6D4FF, #00498b);
	width: 1280px;
	height: 2770px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 230px;
	border-radius: 50px;
}

header{
	background-color: #BCE7E0;
	margin-top: 45px;
	margin-left: 45px;
	margin-right: auto;
	width: 1180px;
	height: 300px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

header img{
	display: block;
	margin-top: 45px;
	margin-left: 45px;
	border: 5px solid #A43E2F;
	border-radius: 50px;
	width: 200px;
	height: 200px;
	position: absolute;
}

header h1{
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 80px;
	color: #FFFFFF;
	text-shadow: -5px -5px 0px #004E92,
         0px -5px 0px #004E92,
         5px -5px 0px #004E92,
        -5px  0px 0px #004E92,
         5px  0px 0px #004E92,
        -5px  5px 0px #004E92,
         0px  5px 0px #004E92,
         5px  5px 0px #004E92;
	margin-top: 45px;
	margin-left: 350px;
	margin-bottom: auto;
	position: absolute;
}

header p{
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: -4px -4px 0px #004E92,
         0px -4px 0px #004E92,
         4px -4px 0px #004E92,
        -4px  0px 0px #004E92,
         4px  0px 0px #004E92,
        -4px  4px 0px #004E92,
         0px  4px 0px #004E92,
         4px  4px 0px #004E92;
    margin-top: 150px;
	margin-left: 350px;
	position: absolute;
}

main{
	position: absolute;
	margin-top: 400px;
	width: 1090px;
	height: 1870px;
}

ul li{
	font-family: 'Quantico', sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: -3px -3px 0px #004E92,
         0px -3px 0px #004E92,
         3px -3px 0px #004E92,
        -3px  0px 0px #004E92,
         3px  0px 0px #004E92,
        -3px  3px 0px #004E92,
         0px  3px 0px #004E92,
         3px  3px 0px #004E92;
}

ul{
  	list-style-image: url(images/list_icon.svg);
}

section h2, aside h2{
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	text-shadow: -4px -4px 0px #004E92,
         0px -4px 0px #004E92,
         4px -4px 0px #004E92,
        -4px  0px 0px #004E92,
         4px  0px 0px #004E92,
        -4px  4px 0px #004E92,
         0px  4px 0px #004E92,
         4px  4px 0px #004E92;
	position: absolute;
}

main section.achievements{
	background-color: #BCE7E0;
	margin-left: 45px;
	margin-right: auto;
	width: 710px;
	height: 710px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

section.achievements h2{
	margin-top: 0px;
	margin-left: 150px;
}

section.achievements ul{
	width: 660px;
	height: 540px;
	margin-top: 120px;
	margin-left: 20px;
}

section.achievements ul li{
	width: 580px;
	margin-bottom: 40px;
}

main aside{
	background-color: #BCE7E0;
	margin-left: 815px;
	margin-right: auto;
	width: 400px;
	height: 710px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

aside h2{
	margin-top: 0px;
	margin-left: 125px;
}

aside ul{
	width: 660px;
	height: 540px;
	margin-top: 120px;
	margin-left: 20px;
}

aside ul li{
	width: 580px;
	margin-bottom: 60px;
}

li.custom_color{
	font-weight: bold;
	color: #B21807;
	text-shadow: none;
}

main section.completed_quests{
	background-color: #BCE7E0;
	margin-top: 765px;
	margin-left: 45px;
	margin-right: auto;
	width: 1170px;
	height: 1100px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

section.completed_quests h2{
	margin-top: 0px;
	margin-left: 325px;
}

section.completed_quests ul{
	width: 460px;
	height: 560px;
	margin-top: 120px;
	margin-left: 20px;
}

section.completed_quests ul li{
	width: 460px;
	margin-bottom: 40px;
}

section.completed_quests code{
	margin-left: 530px;
	margin-top: -570px;
	width: 600px;
	height: 920px;
	background-color: #FFFFFF;
	border: 5px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

section.completed_quests code pre{
	margin-left: 50px;
	display: block;
	font-family: 'Quantico', sans-serif;
	font-size: 15px;
	color: #004E92;
	position: absolute;
}

section.completed_quests img{
	margin-top: 50px;
	margin-left: 70px;
	max-width: 150%;
	position: absolute;
	display: flex;
}

section.tip_of_the_day{
	background-color: #BCE7E0;
	margin-top: 1915px;
	margin-left: 45px;
	margin-right: auto;
	width: 1170px;
	height: 240px;
	border: 10px solid #004E92;
	border-radius: 50px;
	position: absolute;
}

section.tip_of_the_day h2{
	margin-top: 0px;
	margin-left: 325px;
}

section.tip_of_the_day q{
	margin-top: 120px;
	margin-left: 50px;
	font-family: 'Quantico', sans-serif;
	font-size: 40px;
	color: #A43E2F;
	position: absolute;
}

section.tip_of_the_day p{
	margin-top: 120px;
	margin-left: 700px;
	font-family: 'Quantico', sans-serif;
	font-size: 40px;
	color: #00498A;
	position: absolute;
}

footer{
	margin-left: 0px;
	margin-top: 2600px;
	position: absolute;
}

footer pre{
	white-space: pre;
	margin-left: 320px;
	margin-top: 150px;
	width: 1000px;
	color: #FFFFFF;
	font-size: 20px;
	position: absolute;
}


section.contacts{
	background-color: #BCE7E0;
	margin-top: 0px;
	margin-left: 770px;
	width: 440px;
	height: 140px;
	border: 5px solid #A43E2F;
	border-radius: 50px;
	position: absolute;
}

section.contacts a{
	font-family: 'Quantico', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	text-shadow: -3px -3px 0px #A43E2F,
         0px -3px 0px #A43E2F,
         3px -3px 0px #A43E2F,
        -3px  0px 0px #A43E2F,
         3px  0px 0px #A43E2F,
        -3px  3px 0px #A43E2F,
         0px  3px 0px #A43E2F,
         3px  3px 0px #A43E2F;
    margin-left: 25px;
}


footer img{
	width: 300px;
>>>>>>> 514422363513dafd7d7e029b3613059ca62fa0e5
}